@keyframes scroll-header {
    to {

        min-width: 50vmin;
        background-color: var(--background-100);
        border-radius: 50vmax;
    }
}

@keyframes blob-morph {
    from {

        scale: initial;
        
    }

    to {
 
        scale: 110%;
    }
}

@keyframes blob-move {
    0% {

        translate: initial;
    }

    20% {

        transform: translateX(-5%);
    }
}