.header {

    min-width: 100%;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.6rem;

    margin: 0 auto;

    position: sticky;
    top: .2rem;

    z-index: 100;

    animation: scroll-header 1ms ease-in-out forwards;
    animation-timeline: scroll();

    transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.logo {

    min-width: fit-content;

}

.logo__img {

    width: 4rem;
    height: 4rem;
    aspect-ratio: 1;
    background-color: var(--background-200);
    border-radius: 50%;
}

.navigation__list {

    display: flex;
    width: 20%;
    gap: 2vmin;
}

.navigation__item {

    &>a {

        &:is(:link, :visited) {

            color: var(--accent-600);
            font-weight: 600;

            transition: color .2s ease;

            &:hover {

                color: var(--accent-500);
            }
        }

        &:active {

            color: var(--accent-400);
            text-decoration: underline;
        }
    }

}

/*
BLOB
*/

.blob {

    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: purple;

    border-radius: 50%;

    position: absolute;

    inset: 0;

    z-index: -1;

    opacity: 50%;

    filter: blur(8rem);

    animation: blob-morph infinite alternate linear 6s;
    transition: scale ease .2s;

    mix-blend-mode: multiply;

    &::after {

        content: "";
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: inherit;

        animation-delay: .8s;


        background-color: var(--secondary-500);
    }
}

/*
SVG
*/

/*
BUTTON
*/

.button {

    background-color: var(--accent-300);

    width: 100%;
    padding: 2rem 4rem;

    border-radius: 100vmax;

    border: none;
    font-size: 2rem;

    font-weight: 400;

    cursor: pointer;

    transition: opacity .2s ease, transform .2s ease;

    will-change: transform, opacity;

    &:hover {

        opacity: 80%;
    }

    &:active {

        transform: translateY(2.5%);
    }
}

/*
CARD
*/

.card {

    border: var(--primary-100) .2rem solid;
    border-radius: var(--rounded-medium);
    overflow: hidden;
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-lg);

    width: 36rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    cursor: pointer;

    &:hover>.card__header>.card__img {

        scale: 1.4;
    }
}

.card__header {

    border-radius: var(--rounded-small);
    border: var(--primary-100) .2rem solid;
    overflow: hidden;
    width: 100%;
}

.card__img {

    transform-origin: center;
    transition: scale .2s cubic-bezier(0.83, 0, 0.17, 1);
    height: 16rem;
    object-fit: cover;
    object-position: top;
}

.card__title {

    font-size: 2.8rem;
    text-transform: capitalize;
    color: var(--text-700);
}

.card__description {

    color: var(--text-600);
    font-weight: 600;
}

/*
TECH CARD
*/

.tech__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-700);
    border-radius: var(--rounded-small);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    width: clamp(32rem, 50%, 24vmin);
    height: 32rem;

    position: relative;

    overflow: hidden;
    z-index: 2;

    &::before {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
                rgba(255, 255, 255, 0.4),
                transparent 40%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        filter: blur(6rem);
        z-index: 3;
        opacity: 0;
        transition: opacity .4s ease;
    }

    &:hover::before {

        opacity: 1;
    }
}

.tech__card__content {

    background-color: var(--primary-500);
    height: calc(100% - .2rem);
    width: calc(100% - .2rem);
    border-radius: inherit;
    margin: .1rem;
    padding: var(--spacing-lg);
    z-index: 2;
    position: relative;
}

.tech__card__border {

    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.3),
            transparent 40%);
    z-index: 1;

    &:hover {

        opacity: 1;
    }
}

.tech__card>i {
    flex: 0;
    color: var(--primary-800);
    line-height: 1;
    margin: 0;
    font-size: xx-large;
}

.tech__card__body {

    width: 100%;
    text-align: start;
}

.tech__card__title {

    font-size: 2rem;
}