.header {

    min-width: 100%;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.6rem;

    margin: 0 auto;

    position: sticky;
    top: .2rem;

    z-index: 100;

    animation: scroll-header 1ms ease-in-out forwards;
    animation-timeline: scroll();

    transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.logo {

    min-width: fit-content;

}

.logo__img {

    width: 4rem;
    height: 4rem;
    aspect-ratio: 1;
    background-color: var(--background-200);
    border-radius: 50%;
}
.navigation__list {

    display: flex;
    width: 20%;
    gap: 2vmin;
}

.navigation__item {

    & > a {

        &:is(:link, :visited) {
    
        color: var(--accent-600);
        font-weight: 600;
    
        transition: color .2s ease;
    
            &:hover {
        
                color: var(--accent-500);
            }
        }
    
        &:active {

            color: var(--accent-400);
            text-decoration: underline;
        }
    }

}

/*
BLOB
*/

.blob {

    width: 34rem;
    height: 34rem;
    aspect-ratio: 1 / 1;
    background-color: purple;

    border-radius: 50%;

    position: absolute;

    z-index: -1;

    top: -15%;
    left: 50%;
    opacity: 50%;

    filter: blur(2.6rem);

    animation: blob-morph infinite alternate ease-in-out 50s;
    transition: scale ease .8s;

    mix-blend-mode: multiply;

    &::after {

        content: "";
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: inherit;

        animation-delay: .8s;
        top: -10%;
        left: -55%;

        background-color: var(--secondary-500);
    }
}

/*
SVG
*/

