.wrapper { 
    background-color: var(--background-50);
    display: grid;
    place-content: center;
    padding: .8rem;
    overflow-x: hidden;
}

main {
    width: clamp(30ch, 80dvw, 100dvw);
}

main > section {

    
    
    &:not(:first-child) {
        
        padding-block: 16rem;
        margin-block: 64rem;
    }
}

main > section:first-child {

    margin-block-start: 16rem;
}


/*ABOUT*/

.about {

    display: flex;
    flex-wrap: wrap;

    gap: calc(8rem + 4dvw);

    align-items: center;

    justify-content: space-between;
}

.about__hero {

    display: flex;

    flex: 1;

    align-self: stretch;

    z-index: 0;

    position: relative;
}

.about__hero__img {

    min-width: 40rem;
    border-radius: 2rem;
    object-fit: cover;
    object-position: right;
}

.about__presentation {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    gap: 4rem;
}

.presentation__header {

    

    width: min-content;

    & p {

        
        width: fit-content;
        margin-left: auto;
    }
}

.presentation__footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.4rem;
    width: fit-content;
    line-height: 1;
}

/*
TECH
*/
.tech__container {

    display: flex;
    flex-wrap: wrap;
    gap: .8rem;  
    max-width: 91.6rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
}

.tech__card {

    width: 20rem;
    display: grid;
    place-items: center;
    padding: 6rem;
    border: var(--secondary-200) solid .2rem;
    aspect-ratio: 1/1;
    border-radius: 1.6rem;

    & > i {
        color: var(--secondary-500);
        line-height: 0;
        margin: 0;
        font-size: 16vmin;
    }
}