.wrapper { 
    background-color: var(--background-50);
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

main {
    width: clamp(30ch, 80dvw, 100dvw);
}

main > section {

    
    
    &:not(:first-child) {
        
        padding-block: 16rem;
        margin-block: 64rem;
    }
}

main > section:first-child {

    margin-block-start: 16rem;
}


/*ABOUT*/

.intro {

    display: flex;
    flex-wrap: wrap;

    gap: calc(8rem + 4dvw);

    align-items: center;

    justify-content: space-between;

    & > * {

        flex: 1;
    }
}

.intro__hero {

    display: flex;

    align-self: stretch;

    z-index: 0;

    position: relative;
}

.intro__hero__img {

    min-width: 40rem;
    border-radius: 2rem;
    object-fit: cover;
    object-position: right;
}

.intro__presentation {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    gap: 4rem;
}

.presentation__header {

    

    width: min-content;

    & p {

        
        width: fit-content;
        margin-left: auto;
    }
}

.presentation__footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.4rem;
    width: fit-content;
    line-height: 1;
}

/*
ABOUT
*/

.about__body {

    column-count: 2;
    line-height: 1.6;
}

/*
TECH
*/

.techs {

    display: flex;
    flex-direction: column;
    gap: 4.2rem;
}

.tech__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.8rem;
    max-width: 91.6rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
    box-sizing: border-box;
}

.tech__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    border: var(--primary-100) solid .1rem;
    aspect-ratio: 1 / 1;
    border-radius: 1.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    position: relative;

    overflow: hidden;

    &::before {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: var(--radialPrimarySecondary);
        display: block;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        filter: blur(4rem)
    }
}

.tech__card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.tech__card > i {
    flex: 0;
    color: var(--secondary-500);
    line-height: normal;
    margin: 0;
}