.wrapper { 
    background-color: var(--background-50);
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

main {
    width: clamp(30ch, 80dvw, 100dvw);
}

main > section {

    
    
    &:not(:first-child) {
        
        padding-block: 16rem;
        margin-block: 64rem;
    }
}

main > section:first-child {

    margin-block-start: 16rem;
}


/*ABOUT*/

.intro {

    display: flex;
    flex-wrap: wrap;

    gap: calc(8rem + 4dvw);

    align-items: center;

    justify-content: space-between;

    & > * {

        flex: 1;
    }
}

.intro__hero {

    display: flex;

    align-self: stretch;

    z-index: 0;

    position: relative;
}

.intro__hero__img {

    min-width: 40rem;
    border-radius: 2rem;
    object-fit: cover;
    object-position: right;
}

.intro__presentation {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    gap: 4rem;
}

.presentation__header {

    

    width: min-content;

    & p {

        
        width: fit-content;
        margin-left: auto;
    }
}

.presentation__footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.4rem;
    width: fit-content;
    line-height: 1;
}

/*
ABOUT
*/

.about__body {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    line-height: 1.6;
    position: relative;

    z-index: 1;

    width: 100%;

    &::after, &::before {

        content: "";
        width: 32rem;
        aspect-ratio: 1;
        background-image: var(--radialSecondaryAccent);
        top: 0;
        left: 45%;
        display: block;
        z-index: -1;
        position: absolute;
        border-radius: var(--rounded-full);
        filter: blur(4rem);
        opacity: 25%;

        animation: blob-morph 10s alternate linear infinite;
    }

    &::before {

        background-image: var(--radialPrimarySecondary);
        left: 55%;
        top: 20%;
        mix-blend-mode: multiply;
    }
}

.about__text {

    border: var(--primary-100) .2rem solid;
    padding: var(--spacing-md);
    border-radius: var(--rounded-medium);
    background-color: var(--background-100);
}

/*
TECH
*/

.techs {

    display: flex;
    flex-direction: column;
    gap: 4.2rem;
}

.tech__container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xsm);

    width: 100%;
}

/*
Projects
*/

.projects__heading {

    margin-block-end: var(--spacing-2xl);
    line-height: 1;
}

.projects__container {

    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;


    & > * {

        align-self: stretch;
    }
}