html {

    font-size: 62.5%;
}

body {

    font-family: Inter, system-ui, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-display: swap;
    color: var(--text-900);
}


h2 {

    font-size: 6.4rem;
}

h3 {

    font-size: 4.8rem;
}

.secondary__text {

    font-size: 1.6rem;
    color: var(--text-700);
    font-weight: 500;
    line-height: 1.6;
}

.intro__presentation .presentation__header {

    & > h1 {

        background-image: var(--linearSecondaryAccent);
        font-size: calc(8rem + 1vw);
        line-height: 1;
        margin: 0;

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    & > p {

        font-size: calc(1rem + .5vw);
        line-height: 1;
        text-align: end;
        font-weight: 600;
        color: var(--text-500);
    }
}

.intro__presentation .presentation__footer {

    & > p {

        color: var(--text-700);
        font-size: 1.8rem;
        font-weight: 500;
        line-break: strict;
    }

    & > p:has(strong) {

        font-size: 2.4rem;
        text-align: start;
        color: var(--800);
    }
}

